@{
    Layout = "_Layout";
    ViewData["Title"] = "Auth";
}
<h3>Page auth</h3>

<form action="Auth" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">auth</button>
</form>